@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans';
    background: #383737;
    height: 100%;
}

.navLinks {
    display: flex;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
    border-bottom: 3px solid white;
}

.navLinks a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.navLinks a:hover {
    color: black;
    background-color: white;
}

.body-container {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    color: black;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 11px 11px 10px 10px;
    margin-top: 50px;
}

.color-banner {
    background: #316bff;
    height: 130px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.options-container {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 95%;
    border: none;
    border-bottom: 1px solid #8e2b88;
    background: none;
    font-size: 18px;
    margin: 10px;
}

.del-icon {
    width: 25px;
    height: 25px;
    align-self: end;
    position: absolute
}

.answer-box {
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
    margin: 15px 10px;
    background: #ffffe0;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.question-card {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.option-btn {
    align-self: center;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    background: rgb(218, 0, 80);
    background: linear-gradient(70deg, rgba(218, 0, 80, 1) 0%, rgba(142, 43, 136, 1) 100%);
    margin-top: 20px;
    padding: 5px;
}