@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans';
    background: #383737;
    height: 100%;
}

.navLinks {
    display: flex;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    z-index: 1;
    border-bottom: 3px solid white;
}

.navLinks a {
    color: white;
    padding: 12px 16px;
    display: block;
}

.navLinks a:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.body-container {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    color: black;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 11px 11px 10px 10px;
    margin-top: 50px;
}

.gradient-banner {
    background: rgb(218, 0, 80);
    background: linear-gradient(0deg, rgba(218, 0, 80, 1) 0%, rgba(142, 43, 136, 1) 100%);
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.user-container {
    padding: 30px 40px;
    padding-top: 50px;
}

.user-banner {
    display: flex;
    flex-direction: column;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    transform: translate(-200%, 95%);
    position: absolute;
}

.quizzes-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.quiz-card {
    background-color: #316bff;
    border: 0.05rem solid black;
    border-radius: 0.5rem;
    margin: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.33rem 1.2rem 0 rgba(0, 0, 0, 0.19);
    color: black;
}

.quiz-card:hover {
    border: 0.05rem solid white;
    box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.2), 0 0.1rem 0.6rem 0 rgba(0, 0, 0, 0.19);
}

.quiz-body {
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 1);
}

.quiz-title {
    margin: 0.25rem;
    font-size: 18px;
    font-weight: bold;
}

.quiz-body a {
    text-align: center;
    border: 0.05rem solid gray;
    color: black;
    width:100%;
    text-decoration: none;
    margin: 1rem;
    transition: all 0.2s;
    border-radius: 0.2rem;
}

.quiz-body a:hover {
    cursor: pointer;
    background-color: lightgray;
}

.quiz-link-cont {
    display:flex;
}